$bravo-primary: #3F51B5;
$bravo-basic: white;
$bravo-warn: #F44336;
$bravo-default: #929292;
$bravo-success: #2AB930;
$bravo-success-toaster: #1F8B24;
$bravo-accent: #ED9526;
$bravo-tooltip-color: #414141;
