@import "../../../../variables";

.mat-btn-icon{
  background-color: transparent;
}

.mat-btn-icon-primary {
  color: $bravo-primary;
}

.mat-btn-icon-basic{
  color: $bravo-basic
}

.mat-btn-icon-warn{
  color: $bravo-warn
}
