<button
  *ngIf="btnState.type === 'raised'"
  mat-raised-button
  matTooltip="Info about the action"
  matTooltipClass="tooltip"
  class="mat-btn-{{ btnState.color }}"
>
  <mat-icon *ngIf="btnState.icon">{{ btnState.icon }}</mat-icon>
  <span>{{ btnState.content }}</span>
</button>

<button
  *ngIf="btnState.type === 'basic'"
  mat-button
  matTooltip="Info about the action"
  matTooltipClass="tooltip"
  class="mat-btn-icon-{{ btnState.color }}"
>
  <mat-icon *ngIf="btnState.icon">{{ btnState.icon }}</mat-icon>
  <span>{{ btnState.content }}</span>
</button>

<button
  *ngIf="btnState.type === 'icon'"
  mat-icon-button
  matTooltip="Info about the action"
  matTooltipClass="tooltip"
  class="mat-btn-icon mat-btn-icon-{{ btnState.color }}"
>
  <mat-icon>{{ btnState.content }}</mat-icon>
</button>
