@import "../variables";

.main-container{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: $bravo-background-color;
}

.main-flex-container{
  display: flex;
}

.main-block-container{
  padding: 20px;
}
