<app-logo></app-logo>
<app-button
  [btnState]="{
  type: 'raised',
  color: 'primary',
  content: 'Success',
  icon: 'done'
}"></app-button>
<app-button
  [btnState]="{
  type: 'icon',
  color: 'primary',
  content: 'done'
}"></app-button>
<app-chips [chipsList]="[{text:'Hi',selected:true},{text:'my',selected:false}]"></app-chips>
<app-input
  [inputState]="{
    type: 'search',
    label: 'Search',
    state: 'default',
    rightIcon: 'border_color',
    leftIcon: 'search',
    message:{
      text: 'Message',
      position: 'left'
    }
  }"
></app-input>
<app-select [selectState]="{
  label: 'Select region',
  state: 'default',
  multiple: false,
  rightIcon: 'done',
  options:[
    {
      icon: 'flag',
      value: 'USA'
    },
    {
      icon: 'flag',
      value: 'Russia'
    },
    {
      icon: 'flag',
      value: 'Germany'
    }
  ]
}"></app-select>
<app-select [selectState]="{
  label: 'Select region',
  state: 'default',
  multiple: true,
  rightIcon: 'done',
  options:[
    {
      value: 'USA'
    },
    {
      value: 'Russia'
    },
    {
      value: 'Germany'
    }
  ]
}"></app-select>

<app-toaster [toasterState]="{
  type: 'error',
  title: 'Creating success',
  message: 'You successfully created new item',
  optionContent: 'done'
}"></app-toaster>

<app-menu [menuState]="{
 title: 'Menu',
 icon: 'menu',
 items:[
  {
    text: 'home'
  },
  {
    text: 'dashboard'
  },
  {
    text: 'about'
  }
 ]
}"></app-menu>
<app-table
 [tableData]="[
  {
    position: 1,
    name: 'Anton',
    age: 26,
    city: 'Odessa'
  },
  {
    position: 2,
    name: 'Yarik',
    age: 22,
    city: 'Donetsk'
  },
  {
    position: 3,
    name: 'Lesha',
    age: 31,
    city: 'Kiev'
  },
  {
    position: 4,
    name: 'Anna',
    age: 21,
    city: 'Lviv'
  },
  {
    position: 5,
    name: 'Alina',
    age: 20,
    city: 'Kharkiv'
  }
 ]"
></app-table>
<app-nav-item
  [navItemData]="{
    text: 'Home',
    color: 'primary',
    icon: 'home'
  }"
></app-nav-item>

<app-calendar></app-calendar>
<app-empty-state [emptyState]="{
  icon: 'airplay',
  title: 'No data',
  message: 'Please add some data'
}"></app-empty-state>
