<div class="input-div" [class]="'input-'+inputState.state">
  <label>{{ inputState.label }}</label>
  <mat-form-field  class="mat-input-field" appearance="fill">
    <mat-icon *ngIf="inputState.leftIcon">{{ inputState.leftIcon }}</mat-icon>
    <input [type]="inputState.type" matInput [(ngModel)]="value">
    <mat-icon *ngIf="inputState.rightIcon">{{ inputState.rightIcon }}</mat-icon>
  </mat-form-field>
  <small *ngIf="inputState.message" class="input-small" [class]="'small-'+inputState.message.position">{{ inputState.message.text }}</small>
</div>

